
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    color: white;
    position: fixed; 
    z-index: 1000; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
}

.header a{
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}



#judul {
    color: rgba(145, 128, 74, 1);
    font-size: 1rem;
    text-decoration: none;
}

#judul2 {
    color: white;
    font-size:1rem ;
    padding: 30px;
    
}

#judul2:hover {
    color: rgba(145, 128, 74, 1);
}

.dropdown {
    position: relative;
    display: inline-block;
    font-weight: 500;
    
}


.dropdown-isi {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-isi a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
}


.dropdown-isi a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-isi {
    display: block;
}

.dropbtn img {
    margin-left: 8px; 
    width: 10px;
    height: 12px; 
    color: white;
    
}


.dropbtn {
    background-color: rgba(28, 28, 28, 1);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}


.dropbtn:hover {
    background-color: #B89B58; 
}


.tombolregister {
    background-color: #B89B58; 
    color: white;
    border: none; 
    border-radius: 25px;
    padding: 0 20px;
    cursor: pointer; 
    /* margin-bottom: 1rem;
    margin-top: 1rem; */
    padding: 10px 30px;
    transition: all 0.25s ease-in-out;
}

.tombolregister:hover {
    background-color: #A88547; 
}

#register {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.banner-container {
    position: relative; 
    width: 100%;
    height: 400px; 
    overflow: hidden;
}

.banner {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner pre, .banner .liness {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    color: white;
    z-index: 2; 
}

.banner pre {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.banner .liness img {
    width: 200px; 
}

.judulcontent {
    font-size: 3rem;
    font-weight: 700;
    color: #1c1c1c;
    text-align: center;
    /* padding-top: 5rem; */

}

/* carousel image */

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    position: relative;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.carousel-image-container {
    display: flex;
    transition: transform 0.5s ease;
}

.product {
    flex: 0 0 33.33%; 
    box-sizing: border-box;
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.1);
}

.image {
    position: relative;
}

.information {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
}

.product .information {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover .information {
    opacity: 1;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.swipe-prev, .swipe-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(77, 77, 77, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.swipe-prev {
    left: 0;
}

.swipe-next {
    right: 0;
}

.swipe-prev::after,
.swipe-next::after {
    content: ''; 
}

/* info detail */
.product-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 100px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.product-details img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.details-info {
    width: 50%;
    margin-left: 20px; 
}

.details-info h2 {
    margin-bottom: 10px;
}

.details-info p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #333;
}

.details-info ul {
    padding: 0;
}

.details-info ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

#feat-product {
    text-align: center;
    color: rgba(145, 128, 74, 1);
}

/* footer */
.bawah {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-left: 4rem;
    padding-right: 4rem;
    height: fit-content;
    justify-content: space-between;
    background-color: rgba(28, 28, 28, 1);
}

.bawah a {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
}

.css p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
   
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services a {
    text-decoration: none;
    font-size: medium;
    transition: all 0.25s ease-in-out;
}

.services a:hover {
    color:  rgba(145, 128, 74, 1);

}

.phone {
    display: flex;
    flex-direction: row;

}

.phone img {
    width: 7%;
    height: 4vh;
}

.phone p {
    margin-left: 0.5rem;
}

.followus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fhr1 {
    border: 1px solid white;
    width: 90vw;
  
}

.cr {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: small;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.footer {
    background-color: rgba(28, 28, 28, 1);
    width: 100%;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 1023px) { 
    .header {
        flex-direction: column;
    }

    .footer {
        background-color: rgba(28, 28, 28, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        height: 100%;
    }

    .banner {
        background-color: rgba(28, 28, 28, 1);
        display: flex;
        flex-direction: column;
        padding-left: 132px;
        padding-right: 132px;
    }

    .product {
        flex: 0 0 20%; 
        box-sizing: border-box;
        padding: 10px;
    }

    .bawah {
        flex-direction: column;
        background-color: rgba(28, 28, 28, 1);
    }

    .phone {
        justify-content: center;
    }

}


@media (max-width: 767px) { 
    .header {
        flex-direction: column;
    }

    .footer {
        background-color: rgba(28, 28, 28, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        height: 100%;
    }

    .banner {
        background-color: rgba(28, 28, 28, 1);
        display: flex;
        flex-direction: column;
        padding-left: 132px;
        padding-right: 132px;
    }

    .product {
        flex: 0 0 15%; 
        box-sizing: border-box;
        padding: 10px;
    }

    .bawah {
        flex-direction: column;
        background-color: rgba(28, 28, 28, 1);
    }

    .phone {
        justify-content: center;
    }

}
